*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img{
    width: 100px;
    height: 100px;
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.hero{
    position: relative;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://assets-global.website-files.com/63d3e0aead95e54ffdce9095/63f595ed207f7c82a1a8d440_coca-cola%20(1).webp");
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);   
}
.hero-text h1{
    color: white;
}
.bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
}

main{
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    transition: 0.5s;
    border: 5px rgb(0, 0, 0) double;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    transition: 0.5s;
    border: 5px red double;
    border-radius: 25px;
    color: red;
}
main a{
    color: rgb(0, 0, 0);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}

footer img{
    width: 59px;
    height: 59px;
    position: absolute;
    right: 8px;
    top: 476px;
}

section img {
    width: 235px;
    height: 235px;
        transition: .5s;

}
section img:hover{
    scale: 1.1;
    transition: .5s;
}

main section{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.about-us{
    padding: 15px 20px;
}
